
body {
  background-color: #999966;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #132639;
}

a:link {
  text-decoration: none;
  color: #132639;
}

a:hover {

}

a:active {
  text-decoration: none;
  color: #C2C2A3;
}

a:visited {
  text-decoration: none;
  color: #132639;
}

div.flexOuterCenter {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

div.flexOuterSpace {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

div.table {
  padding: 0.5em;
  margin: 0.5em;
  flex: 1 1 15%;
  cursor: pointer;
}

div.table:hover {
  background-color: #3973AC;
  color:  #132639;
  border-radius: 2px 2px 2px 2px;
  opacity: 0.4;
}

#inverse {
  border-radius: 2px 2px 8px 8px ;
}

button {
  background-color: #C2C2A3;
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 0.2em;
  border-radius: 2px;
  border: 1px solid black;
}

input {
  padding: 0.2em;
  border-radius: 2px;
  border: 1px solid black;
}

h3 {
  opacity: 0.8;
  margin: 0;
}
header {
  background-color: #999966;
  font-size: 16px;
  padding: 0;
  margin: 0;
  clear: both;
}

nav {
  font-size: 14px;
  max-width: 30em;
  opacity: 0.8;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  opacity: 0.55;
}

/*nav.two {
  background-color: grey;
  font-size: 14px;
  text-align: center;
  line-height: 100%;
  max-width: 475px;
  border: 2px solid #132639;
  border-radius: 2px 14px 2px 2px;
  padding: 12px 20px 12px 8px;
  margin: 15px;
  opacity: 0.8;
}*/


article.getIt {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  max-width: 475px;
  border: 2px solid #132639;
  border-radius: 2px 2px 2px 2px;
  padding: 0 1em;
  margin: 0.75em;
  float:left;
  opacity: 0.8;

}

article.getIt2 {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  max-width: 475px;
  border: 2px solid #132639;
  border-radius: 2px 2px 2px 2px;
  padding: 0 1em 1em 1em;
  margin: 0.75em;
  opacity: 0.8;

}

article.widerGetIt {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  max-width: 475px;
  border: 2px solid #132639;
  border-radius: 2px 2px 2px 2px;
  padding: 0 20px 20px 20px;
  margin: 15px;
  float:left;
  opacity: 0.8;
}

article.widerGetIt2 {
  background-color: grey;
  color: #132639;
  font-size: 14px;
  line-height: 150%;
  width: 475px;
  border: 2px solid #132639;
  border-radius: 2px 2px 2px 2px;
  padding: 0 20px 20px 20px;
  margin: 15px;
  float:left;
  opacity: 0.8;
}

dl.dataList {
  padding:0;
  margin:0;
  line-height: 200%
}
dl.dataList dd {
  padding: 4px 0 4px 0;
}

dl.tableOfContents {
  padding:10px;
  margin:10px;
  line-height: 180%
}
dl.tableOfContents dt {
  padding: 8px 0 8px 0;
}

section.codeBlock {
  background-color: #C2C2A3;
  color: #132639;
  max-width: 465px;
  font-family: courier, sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 70%;
  padding: 4px;
  border-radius: 2px 2px 2px 2px;
}

section.codeBlock2 {
  background-color: #C2C2A3;
  color: #132639;
  max-width: 465px;
  font-family: courier, sans-serif;
  font-size: 14px;
  font-weight: 900;
  line-height: 70%;
  padding: 4px;
  border-radius: 2px 2px 2px 2px;
}

div.blocked {
  max-width: 435px;
  border: 1px solid grey;
  margin: 0;
  padding: 0 10px 0 20px;
}

div.bordered {
  max-width: 435px;
  border: 1px solid black;
  border-radius: 2px;
  margin: 0;
  padding: 10px 10px 10px 20px;
}

span.indexCard {
  background-color: #3973AC;
  padding: 8px 8px 4px 12px;

  border-radius: 2px 2px 2px 2px;
}

span.indexCard2 {
  background-color: #3973AC;
  padding: 8px 8px 4px 8px;

  border-radius: 2px 2px 2px 2px;
}

div.indexCardBig {
  background-color: #3973AC;
  padding: 0.4em;

  border-radius: 2px 2px 2px 2px;
  margin: 0.75em 0 0.75em 0;
  max-width: 22em;
  text-align: center;
}

div.indexCardBig2 {
  background-color: #3973AC;
  padding: 0.4em;

  border-radius: 2px 2px 2px 2px;
  margin: 0.75em 0 0.75em 0;
  max-width: 22em;
  text-align: center;


}

span.codeLine {
  background-color: #C2C2A3;
  font-family: courier, sans-serif;
  font-size: 16px;
  font-weight: 900;
  padding: 2px 4px 2px 4px;
  border-radius: 2px;

}

span.color {
  color: #C2C2A3;
}

span.comments {
  font-family: Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 12px
}
